<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PatPat</title>
	<!-- Meta Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Grounding Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta Tags -->
	<!-- Style-sheets -->
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-css -->
	<link th:href="@{/css/popuo-box.css}" rel="stylesheet" type="text/css" media="all" />
	<!--// Pop-up -->
	<link th:href="@{/css/banner.css}" rel="stylesheet" type="text/css" media="all" />
	<!--// banner-css -->
	<link rel="stylesheet" th:href="@{/css/shop.css}" type="text/css" media="screen" property="" />
	<!--// shop-css -->
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
	<!-- //common-css -->
	<link th:href="@{/css/blog_2.css}" rel="stylesheet" type='text/css' media="all" />
	<!--// blog-css -->
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">
	<!-- // Font-awesome-css -->
	<!-- //Style-sheets -->

	<!-- Web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<!-- //Web-fonts -->

</head>

<body>
	<!-- header -->
	<div class="header-w3layouts" id="home">
		<!-- header-top -->
		<div class="header_topw3layouts_bar">
			<div class="container">
				<div class="header_agileits_left">
					<ul>
						<li><i class="fa fa-phone" aria-hidden="true"></i> +153****5332</li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>
					</ul>
				</div>
				<div class="header_right">
					<a href="#" class="log" data-toggle="modal" data-target="#myModal">Login</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!--// header-top -->
		<!-- header-middle -->
		<div class="header-middle">
			<div class="container">
                <div class="logof-w3-agile">
                    <h1><a href="index.html">PatPat</a></h1>
                </div>
                <div class="searchf-w3-agileits-headr">
                    <form action="#" method="post">
                        <input type="search" name="Search" placeholder="搜索..." required="">
                        <button type="submit" class="btn btn-default search" aria-label="Left Align">
                            <i class="fa fa-search" aria-hidden="true"> </i>
                        </button>
                    </form>
                </div>               
                <div class="clearfix"></div>
            </div>
		</div>
		<!--// header-middle -->
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
			</div>

			<div class="collapse navbar-collapse js-navbar-collapse">
				<ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">PatPat</a></li>
                    <li class="active"><a href="index.html">首页</a></li>
                    <li class="active"><a href="rankings">排行榜</a></li>
                    <li class="active"><a href="comment">热门评论</a></li>
                    <li class="active"><a href="app_type">APP分类</a></li>
                    <li class="active"><a href="app_recommend">猜你喜欢</a></li>
                    <li class="active"><a href="contact">联系我们</a></li>
                </ul>
			</div>
			<!-- /.nav-collapse -->
		</nav>
	</div>
	<!-- banner -->
	<div class="innerf-banner">
	</div>
	<!--//banner -->
	<!-- Page details -->
	<div class="services-agile-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="index.html">首页</a>
					<span>| |</span>
				</li>
				<li>APP1</li>
			</ul>
		</div>
	</div>
	<!-- //Page details -->

	<!-- /inner_content -->
	<div class="banner_bottom">
		<div class="container">
			<h3 class="tittle">APP1</h3>
			<div class="inner_sec_info">
				<!-- left side -->
				<div class="col-md-8 single-left">
					<div class="single-left1">
						<img th:src="@{/images/banner1.jpg}" alt=" " class="img-responsive" />
						<h3>Sed ut perspiciatis unde omnis iste natus error sit facilisis erat posuere erat</h3>
						<ul>
							<li>
								<span class="fa fa-user" aria-hidden="true"></span>
								<a href="#">Michael Smith</a>
							</li>
							<li>
								<span class="fa fa-tag" aria-hidden="true"></span>
								<a href="#">5 Tags</a>
							</li>
							<li>
								<span class="fa fa-envelope-o" aria-hidden="true"></span>
								<a href="#">5 Comments</a>
							</li>
						</ul>
						<p>In consectetur, elit in scelerisque malesuada, tellus leo viverra massa, nec malesuada turpis lectus ac urna. 
							<i>Nunc a urna turpis. Aenean vestibulum elementum nisi. Aenean aliquet nec mi et lacinia. Aliquam maximus iaculis mi
								elit in scelerisque malesuada, tellus leo viverra massa, sed efficitur orci efficitur nec.</i> In consectetur,
							elit in scelerisque malesuada, tellus leo viverra massa, nec malesuada turpis lectus ac urna. </p>
					</div>				
					<div class="admin">
						<p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give
							you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder
							of human happiness. No one rejects, dislikes, or avoids pleasure itself.</p>
						<a href="#">
							<i>John Frank</i>
						</a>
					</div>
					<div class="comments">
						<h3>评论</h3>
						<div class="comments-grids">
							<div class="comments-grid">
								<div class="comments-grid-left">
									<img th:src="@{/images/t1.jpg}" alt=" " class="img-responsive" />
								</div>
								<div class="comments-grid-right">
									<h4>
										<a href="#">Alison Jan</a>
									</h4>
									<ul>
										<li>5 June 2017
											<i>|</i>
										</li>
										<li>
											<a href="#">回复</a>
										</li>
									</ul>
									<p>Ut ex metus, ornare ac ultricies sit amet, auctor a elit. Praesent sit amet scelerisque massa. Duis porta risus
										id urna finibus aliquet.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="comments-grid">
								<div class="comments-grid-left">
									<img th:src="@{/mages/t2.jpg}" alt=" " class="img-responsive" />
								</div>
								<div class="comments-grid-right">
									<h4>
										<a href="#">Lillian Ella</a>
									</h4>
									<ul>
										<li>8 June 2017
											<i>|</i>
										</li>
										<li>
											<a href="#">回复</a>
										</li>
									</ul>
									<p>Ut ex metus, ornare ac ultricies sit amet, auctor a elit. Praesent sit amet scelerisque massa. Duis porta risus
										id urna finibus aliquet.</p>
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="comments-grid">
								<div class="comments-grid-left">
									<img th:src="@{/images/t4.jpg}" alt=" " class="img-responsive" />
								</div>
								<div class="comments-grid-right">
									<h4>
										<a href="#">Mary Ruth</a>
									</h4>
									<ul>
										<li>11 June 2017
											<i>|</i>
										</li>
										<li>
											<a href="#">回复</a>
										</li>
									</ul>
									<p>Ut ex metus, ornare ac ultricies sit amet, auctor a elit. Praesent sit amet scelerisque massa. Duis porta risus
										id urna finibus aliquet.</p>
								</div>
								<div class="clearfix"> </div>
							</div>

						</div>
					</div>
					<div class="leave-coment-form">
						<h3>留言评论</h3>
						<form action="#" method="post">
							<input type="text" name="Name" placeholder="姓名" required="">
							<input type="email" name="Email" placeholder="邮箱" required="">
							<textarea name="Message" placeholder="在这里留言评论..." required=""></textarea>
							<div class="mm_single_submit">
								<input type="submit" value="提交评论">
							</div>
						</form>
					</div>
				</div>
				<!-- //left side -->
			</div>
			<!-- right side -->
			<div class="col-md-4 event-right wthree-event-right">
				<div class="event-right1 mainsmkinfo-event-right1">
					<div class="search1 mainsmkits-search1">
						<form action="#" method="post">
							<input type="search" name="Search" placeholder="在这里搜索..." required="">
							<input type="submit" value="搜索">
						</form>
					</div>										
					<div class="tags tags1 textmkayouts-tags">
						<h3>最新标签</h3>
						<ul>
							<li>
								<a href="single.html">标签1</a>
							</li>
							<li>
								<a href="single.html">标签2</a>
							</li>
							<li>
								<a href="single.html">标签3</a>
							</li>
							<li>
								<a href="single.html">标签4</a>
							</li>
							<li>
								<a href="single.html">标签5</a>
							</li>							
						</ul>
					</div>
				</div>
			</div>
			<!-- //right side -->
			<div class="clearfix"> </div>
		</div>
	</div>

	<!-- Subscribe -->
	<!--// Subscribe -->
	<!-- footer -->
	<div class="footer-wthree-copyf">
		<div class="container">
			<p>© 2018 ＰａｔＰａｔ. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //footer -->

	<!-- js files -->

	<!-- Common js -->
	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<!--// Common js -->

	<!-- cart-js -->
	<script th:src="@{/js/minicart.js}"></script>
	<script>
		edu.render();

		edu.cart.on('edu_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- Nav Js -->
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!--// Nav Js -->

	<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Sign In & Sign Up
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="loginf_module">
							<div class="module form-module">
								<div class="toggle"><i class="fa fa-times fa-pencil"></i>
									<div class="tooltip">Click Me</div>
								</div>
								<div class="form">
									<h3>Login to your account</h3>
									<form action="#" method="post">
										<input type="text" name="Username" placeholder="Username" required="">
										<input type="password" name="Password" placeholder="Password" required="">
										<input type="submit" value="Login">
									</form>
									<div class="cta"><a href="#">Forgot your password?</a></div>
								</div>
								<div class="form">
									<h3>Create an account</h3>
									<form action="#" method="post">
										<input type="text" name="Username" placeholder="Username" required="">
										<input type="password" name="Password" placeholder="Password" required="">
										<input type="email" name="Email" placeholder="Email address" required="">
										<input type="text" name="Phone" placeholder="Phone Number" required="">
										<input type="submit" value="Register">
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script>
		$('.toggle').click(function () {
			// Switches the Icon
			$(this).children('i').toggleClass('fa-pencil');
			// Switches the forms  
			$('.form').animate({
				height: "toggle",
				'padding-top': 'toggle',
				'padding-bottom': 'toggle',
				opacity: "toggle"
			}, "slow");
		});
	</script>
	<!-- //bootstrap-pop-up -->

	<!--pop-up-box -->
	<script th:src="@{/js/jquery.magnific-popup.js}" type="text/javascript"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //pop-up-box -->

	<!-- start-smoth-scrolling -->
	<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
	<script type="text/javascript" th:src="@{/js/easing.js}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->

	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->

	<!-- smoothscroll -->
	<script th:src="@{/js/SmoothScroll.min.js}"></script>
	<!-- //smoothscroll -->

	<!-- js files -->

</body>

</html>