<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>PatPat</title>
	<!-- Meta-tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Grounding Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--// Metga-tags -->

	<!-- Styleshets -->
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
	<!--// Bootstrap-css -->
	<link th:href="@{/css/easy-responsive-tabs.css}" rel='stylesheet' type='text/css' />
	<!--// Responsive-tabs -->
	<link th:href="@{/css/popuo-box.css}" rel="stylesheet" type="text/css" media="all" />
	<!--// Pop-up -->
	<link th:href="@{/css/banner.css}" rel="stylesheet" type="text/css" media="all" />
	<!--// banner-css -->
	<link rel="stylesheet" th:href="@{/css/shop.css}" type="text/css" media="screen" property="" />
	<!--// shop-css -->
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
	<!-- common-css -->
	<link rel="stylesheet" th:href="@{/css/client.css}" type="text/css" media="all" />
	<!-- // client-css -->
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet">
	<!-- // Font-awesome-css -->
	<!--// Styleshets -->

	<!-- Online-fonts -->
	<link href="//fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<!--// Online-fonts -->

</head>

<body>
	<!-- header -->
	<div class="header" id="home">
		<!-- header-top -->
		<div class="header_topw3layouts_bar">
			<div class="container">
				<div class="header_agileits_left">
					<ul>
						<li><i class="fa fa-phone" aria-hidden="true"></i> +153****5332</li>
						<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>
					</ul>
				</div>
				<div class="header_right">
					<a href="#" class="log" data-toggle="modal" data-target="#myModal">Login</a>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!--// header-top -->
		<!-- header-middle -->
		<div class="header-middle">
			<div class="container">
                <div class="logof-w3-agile">
                    <h1><a href="index.html">PatPat</a></h1>
                </div>
                <div class="searchf-w3-agileits-headr">
                    <form action="#" method="post">
                        <input type="search" name="Search" placeholder="搜索..." required="">
                        <button type="submit" class="btn btn-default search" aria-label="Left Align">
                            <i class="fa fa-search" aria-hidden="true"> </i>
                        </button>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
		</div>
		<!--// header-middle -->
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
			</div>

			<div class="collapse navbar-collapse js-navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="index.html">PatPat</a></li>
                    <li class="active"><a href="index.html">首页</a></li>
                    <li class="active"><a href="index.html">排行榜</a></li>
                    <li class="active"><a href="index.html">热门评论</a></li>
                    <li class="active"><a href="index.html">APP分类</a></li>
                    <li class="active"><a href="index.html">猜你喜欢</a></li>
                    <li class="active"><a href="contact.html">联系我们</a></li>
                </ul>
			</div>
			<!-- /.nav-collapse -->
		</nav>

	</div>
	<!-- banner -->
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1" class=""></li>
			<li data-target="#myCarousel" data-slide-to="2" class=""></li>
			<li data-target="#myCarousel" data-slide-to="3" class=""></li>
			<li data-target="#myCarousel" data-slide-to="4" class=""></li>
		</ol>
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="container">
					<div class="carousel-caption">
						<p>首页</p>
						<h3>来PatPat寻找你的<span>APP.</span></h3>
					</div>
				</div>
			</div>
			<div class="item item2">
				<div class="container">
					<div class="carousel-caption">
						<p>排行榜</p>
						<h3>了解最新的APP<span>排行榜.</span></h3>
					</div>
				</div>
			</div>
			<div class="item item3">
				<div class="container">
					<div class="carousel-caption">
						<p>APP分类</p>
						<h3>不分最多<span>只分最好.</span></h3>
					</div>
				</div>
			</div>
			<div class="item item4">
				<div class="container">
					<div class="carousel-caption">
						<p>猜你喜欢</p>
						<h3>PatPat向你推荐可能喜欢的<span>APP!</span></h3>
					</div>
				</div>
			</div>
			<div class="item item5">
				<div class="container">
					<div class="carousel-caption">
						<p>联系我们</p>
						<h3>如果在PatPat有任何问题<span>记得联系我们.</span></h3>
					</div>
				</div>
			</div>
		</div>
		<!-- Arrows -->
		<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			<span class="fa fa-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			<span class="fa fa-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
		<!-- //Arrows -->
	</div>
	<!--//banner -->
	<!-- about -->
	
	<!-- //about-->
	<!-- Materials -->
	<div class="materialsf-section">
		<div class="container">
			<h3 class="tittlef-agileits-w3layouts white-clrf">最新APP.</h3>
			<div class="carousel slide materialf-slider" id="myCarousel1">
				<div class="carousel-inner">
					<div class="item active">
						<ul class="thumbnails">
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img th:src="@{/images/mf1.jpg}" alt=""></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li>
													<a href="#">
														<span class="fa fa-star yellow-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="fa fa-star yellow-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="fa fa-star yellow-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="fa fa-star yellow-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
														<span class="fa fa-star gray-star" aria-hidden="true"></span>
													</a>
												</li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book1">
											<input type="hidden" name="amount" value="100.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img th:src="@{/images/mf2.jpg}" alt=""></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li>
													<a href="#">
													<span class="fa fa-star yellow-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
													<span class="fa fa-star yellow-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
													<span class="fa fa-star yellow-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
													<span class="fa fa-star yellow-star" aria-hidden="true"></span>
													</a>
												</li>
												<li>
													<a href="#">
													<span class="fa fa-star gray-star" aria-hidden="true"></span>
													</a>
												</li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book2">
											<input type="hidden" name="amount" value="80.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img th:src="@{/images/mf3.jpg}" alt=""></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book3">
											<input type="hidden" name="amount" value="30.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img th:src="@{/images/mf4.jpg}" alt=""></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book4">
											<input type="hidden" name="amount" value="60.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- /Slide1 -->
					<div class="item">
						<ul class="thumbnails">
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img th:src="@{/images/mf5.jpg}" alt=""></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book5">
											<input type="hidden" name="amount" value="80.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img th:src="@{/images/mf6.jpg}" alt=""></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book6">
											<input type="hidden" name="amount" value="60.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img th:src="@{/images/mf1.jpg}" alt=""></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book7">
											<input type="hidden" name="amount" value="70.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img th:src="@{/images/mf2.jpg}" alt=""></a>
										<<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book8">
											<input type="hidden" name="amount" value="50.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- /Slide2 -->
					<div class="item">
						<ul class="thumbnails">
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img src="@{/images/mf3.jpg}" alt=""></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book9">
											<input type="hidden" name="amount" value="90.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img src="@{/images/mf4.jpg}" alt=""></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book10">
											<input type="hidden" name="amount" value="80.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img src="@{/images/mf5.jpg}" alt=""></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book11">
											<input type="hidden" name="amount" value="50.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
							<li class="col-md-3 col-sm-6 col-xs-6 mtrl-f-grids">
								<div class="fff">
									<div class="thumbnail">
										<a href="shop_single.html"><img th:src="@{/images/mf6.jpg}" alt=""></a>
										<p><span class="fa fa-hand-o-down" aria-hidden="true"></span>APP名称</p>
									</div>
									<div class="caption">
										<h4>APP描述</h4>
										<p>APP作者</p>
										<div class="matrlf-mid">
											<h6><span>版本</span> ***</h6>
											<ul class="rating">
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star yellow-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
												<li><a href="#"><span class="fa fa-star gray-star" aria-hidden="true"></span></a></li>
											</ul>
											<div class="clearfix"> </div>
										</div>
										<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="edu_item" value="Book12">
											<input type="hidden" name="amount" value="70.00">
											<button type="submit" class="edu-cart pedu-cart"><i class="fa fa-cart-plus" aria-hidden="true"></i> 下载</button>
											<a href="#" data-toggle="modal" data-target="#myModal1"></a>
										</form>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<!-- /Slide3 -->
				</div>

				<!-- //control-box -->
				<nav>
					<ul class="control-box pager">
						<li><a data-slide="prev" href="#myCarousel1" class=""><i class="glyphicon glyphicon-chevron-left"></i></a></li>
						<li><a data-slide="next" href="#myCarousel1" class=""><i class="glyphicon glyphicon-chevron-right"></i></a></li>
					</ul>
				</nav>
				<!-- //control-box -->
				<div class="clearfix"> </div>

			</div>
			<!-- /#myCarousel -->

		</div>
	</div>
	<!-- //Materials-->
	<!-- creative-animated-loading -->
	<div class="loadf-section">
		<div class="posf-grids">
			<div class="container">
				<h3 class="tittlef-agileits-w3layouts">来ＰａｔＰａｔ发现更多有趣的ＡＰＰ.</h3>
				<div id="loader">
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="dot"></div>
					<div class="lading"></div>
				</div>				
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--// creative-animated-loading -->
	<!-- Reviews -->
	
	<!-- //Reviews -->
	<!--//mobile-app -->
	
	<!--//mobile-app -->

	<!-- Subscribe -->
	<
	<!--// Subscribe -->
	<!-- footer -->
	<div class="footer-wthree-copyf">
		<div class="container">
			<p>© 2018 ＰａｔＰａｔ. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //footer -->

	<!-- js -->

	<!-- Common js -->
	<script type="text/javascript" th:src="@{/js/jquery-2.1.4.min.js}"></script>
	<!--// Common js -->

	<!-- cart-js -->
	<script th:src="@{/js/minicart.js}"></script>
	<script>
		edu.render();

		edu.cart.on('edu_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->

	<!-- reviews -->
	<script>
		function blinker() {
			$('.blinking').fadeOut(500);
			$('.blinking').fadeIn(500);
		}
		setInterval(blinker, 1000);
	</script>
	<script>
		function cycle($item, $cycler) {
			setTimeout(cycle, 2000, $item.next(), $cycler);

			$item.slideUp(1000, function () {
				$item.appendTo($cycler).show();
			});
		}
		cycle($('#cycler div:first'), $('#cycler'));
	</script>
	<!--// reviews -->

	<!-- responsive-tabs -->
	<script th:src="@{/js/easy-responsive-tabs.js}"></script>
	<script>
		$(document).ready(function () {
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!-- //responsive-tabs -->

	<!-- Carousel Auto-Cycle -->
	<script>
		$(document).ready(function () {
			$('.carousel').carousel({
				interval: 6000
			})
		});
	</script>
	<!-- // Carousel Auto-Cycle -->

	<!-- Nav Js -->
	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
	<script>
		$(document).ready(function () {
			$(".dropdown").hover(
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
					$(this).toggleClass('open');
				},
				function () {
					$('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
					$(this).toggleClass('open');
				}
			);
		});
	</script>
	<!--// Nav Js -->

	<!-- bootstrap-pop-up -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					Sign In & Sign Up
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<section>
					<div class="modal-body">
						<div class="loginf_module">
							<div class="module form-module">
								<div class="toggle"><i class="fa fa-times fa-pencil"></i>
									<div class="tooltip">Click Me</div>
								</div>
								<div class="form">
									<h3>Login to your account</h3>
									<form action="#" method="post">
										<input type="text" name="Username" placeholder="Username" required="">
										<input type="password" name="Password" placeholder="Password" required="">
										<input type="submit" value="Login">
									</form>
									<div class="cta"><a href="#">Forgot your password?</a></div>
								</div>
								<div class="form">
									<h3>Create an account</h3>
									<form action="#" method="post">
										<input type="text" name="Username" placeholder="Username" required="">
										<input type="password" name="Password" placeholder="Password" required="">
										<input type="email" name="Email" placeholder="Email address" required="">
										<input type="text" name="Phone" placeholder="Phone Number" required="">
										<input type="submit" value="Register">
									</form>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<script>
		$('.toggle').click(function () {
			// Switches the Icon
			$(this).children('i').toggleClass('fa-pencil');
			// Switches the forms  
			$('.form').animate({
				height: "toggle",
				'padding-top': 'toggle',
				'padding-bottom': 'toggle',
				opacity: "toggle"
			}, "slow");
		});
	</script>
	<!-- //bootstrap-pop-up -->

	<!--pop-up-box -->
	<script th:src="@{/js/jquery.magnific-popup.js}" type="text/javascript"></script>
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!-- //pop-up-box -->
	<!-- start-smoth-scrolling -->
	<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
	<script type="text/javascript" th:src="@{/js/easing.js}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- start-smoth-scrolling -->
	<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function () {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!-- //here ends scrolling icon -->
	<!-- smoothscroll -->
	<script th:src="@{/js/SmoothScroll.min.js}"></script>
	<!-- //smoothscroll -->



</body>

</html>